In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np 

# File to Load 
file_to_load = "draft.csv"

# Read Purchasing File and store into Pandas data frame
draft = pd.read_csv(file_to_load)

In [2]:
draft

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.00,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.00,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.00,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.00,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.00,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12135,20190250,2019,NaN,250,0.96,MIN,LS,3000,Austin,Cutting,...,1997-10-27,21.515068,http://www.nfl.com/player/AustinCutting/256292...,Keller,TX,USA,Central HS,Center,TX,USA
12136,20190251,2019,NaN,251,0.92,LAR,LB,2520,Dakota,Allen,...,1995-11-02,23.501370,http://www.nfl.com/player/DakotaAllen/2562618/...,Dallas,TX,USA,Summer Creek HS,Humble,TX,USA
12137,20190252,2019,NaN,252,0.88,NE,CB,3200,Ken,Webster,...,1996-06-19,22.871233,http://www.nfl.com/player/KenWebster/2562776/p...,NaN,NaN,NaN,Stockbridge HS,Decatur,GA,USA
12138,20190253,2019,NaN,253,0.84,WAS,DE,5110,Jordan,Brailford,...,1995-10-09,23.567123,http://www.nfl.com/player/JordanBrailford/2562...,Tulsa,OK,USA,Booker T. Washington HS,Tulsa,OK,USA
12139,20190254,2019,NaN,254,0.80,ARI,TE,3800,Caleb,Wilson,...,1996-07-15,22.800000,http://www.nfl.com/player/CalebWilson/2562603/...,Dallas,TX,USA,Junipero Serra HS,Gardena,CA,USA

In [3]:
draft.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN

In [4]:
eighties = draft[(draft['playerId'] <= 19890335) & (draft['playerId'] >= 19800001)]

In [5]:
eighties.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
999,19800001,1980,1.0,1,3000.0,DET,RB,1540,Billy,Sims,...,1955-09-18,24.630137,http://www.nfl.com/player/BillySims/2525711/pr...,St. Louis,MO,USA,NaN,NaN,NaN,NaN
1000,19800002,1980,1.0,2,2600.0,NYJ,WR,3430,Lam,Jones,...,1958-04-04,22.084932,http://www.nfl.com/player/LamJones/2517905/pro...,Lawton,OK,USA,NaN,NaN,NaN,NaN
1001,19800003,1980,1.0,3,2200.0,CIN,OT,920,Anthony,Munoz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,19800004,1980,1.0,4,1800.0,GB,DE,1800,Bruce,Clark,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,19800005,1980,1.0,5,1700.0,BLT,RB,325,Curtis,Dickey,...,1956-11-27,23.435616,http://www.nfl.com/player/CurtisDickey/2512901...,Madisonville,TX,USA,NaN,NaN,NaN,NaN

In [6]:
RB = eighties[eighties["position"]== "RB"]

In [7]:
RB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
999,19800001,1980,1.0,1,3000.0,DET,RB,1540,Billy,Sims,...,1955-09-18,24.630137,http://www.nfl.com/player/BillySims/2525711/pr...,St. Louis,MO,USA,NaN,NaN,NaN,NaN
1003,19800005,1980,1.0,5,1700.0,BLT,RB,325,Curtis,Dickey,...,1956-11-27,23.435616,http://www.nfl.com/player/CurtisDickey/2512901...,Madisonville,TX,USA,NaN,NaN,NaN,NaN
1011,19800013,1980,1.0,13,1150.0,SF,RB,4500,Earl,Cooper,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,19800025,1980,1.0,25,720.0,NE,RB,3200,Vagas,Ferguson,...,1957-03-06,23.164384,http://www.nfl.com/player/VagasFerguson/251396...,Richmond,IN,USA,NaN,NaN,NaN,NaN
1025,19800027,1980,1.0,27,680.0,CLV,RB,1050,Charles,White,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(RB)

444

In [9]:
len(RB)/len(eighties)

0.13289434301107453

In [10]:
QB = eighties[eighties["position"]== "QB"]

In [11]:
QB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1013,19800015,1980,1.0,15,1050.0,OAK,QB,2520,Marc,Wilson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,19800028,1980,1.0,28,660.0,PIT,QB,3900,Mark,Malone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,19800037,1980,2.0,37,530.0,BUF,QB,610,Gene,Bradley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083,19800085,1980,4.0,85,165.0,DET,QB,1540,Eric,Hipple,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1087,19800089,1980,4.0,89,145.0,SL,QB,2510,Rusty,Lisch,...,1956-12-21,23.369863,http://www.nfl.com/player/RustyLisch/2519566/p...,Belleville,IL,USA,NaN,NaN,NaN,NaN

In [12]:
len(QB)

153

In [13]:
len(QB)/len(eighties)

0.04579467225381622

In [14]:
WR = eighties[eighties["position"]== "WR"]

In [15]:
WR.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1000,19800002,1980,1.0,2,2600.0,NYJ,WR,3430,Lam,Jones,...,1958-04-04,22.084932,http://www.nfl.com/player/LamJones/2517905/pro...,Lawton,OK,USA,NaN,NaN,NaN,NaN
1016,19800018,1980,1.0,18,900.0,WAS,WR,5110,Art,Monk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,19800047,1980,2.0,47,430.0,NYJ,WR,3430,Ralph,Clayton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,19800049,1980,2.0,49,410.0,TB,WR,4900,Kevin,House,...,1957-12-20,22.372603,http://www.nfl.com/player/KevinHouse/2516850/p...,St. Louis,MO,USA,NaN,NaN,NaN,NaN
1060,19800062,1980,3.0,62,284.0,DET,WR,1540,Mike,Friede,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
len(WR)

391

In [17]:
len(WR)/len(eighties)

0.1170308290930859

In [18]:
TE = eighties[eighties["position"]== "TE"]

In [19]:
TE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1005,19800007,1980,1.0,7,1500.0,ATL,TE,200,Junior,Miller,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1031,19800033,1980,2.0,33,580.0,SL,TE,2510,Doug,Marsh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,19800067,1980,3.0,67,255.0,BUF,TE,610,Mark,Brammer,...,1958-05-03,22.005479,http://www.nfl.com/player/MarkBrammer/2510064/...,Traverse City,MI,USA,NaN,NaN,NaN,NaN
1081,19800083,1980,3.0,83,175.0,PIT,TE,3900,Ray,Sydnor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1104,19800106,1980,4.0,106,82.0,HO,TE,2100,Chris,Combs,...,1958-03-17,22.134247,http://www.nfl.com/player/ChrisCombs/2511825/p...,San Diego,CA,USA,NaN,NaN,NaN,NaN

In [20]:
len(TE)

187

In [21]:
len(TE)/len(eighties)

0.05597126608799761

In [22]:
C = eighties[eighties["position"]== "C"]

In [23]:
C.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1030,19800032,1980,2.0,32,590.0,BLT,C,325,Ray,Donaldson,...,1958-05-18,21.964384,http://www.nfl.com/player/RayDonaldson/2500429...,Rome,GA,USA,NaN,NaN,NaN,NaN
1046,19800048,1980,2.0,48,420.0,MIA,C,2700,Dwight,Stephenson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,19800057,1980,3.0,57,330.0,DET,C,1540,Tom,Turnure,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,19800120,1980,5.0,120,54.0,DET,C,1540,Tommie,Ginn,...,1958-01-25,22.273973,http://www.nfl.com/player/TommieGinn/2514912/p...,Scotia,CA,USA,NaN,NaN,NaN,NaN
1128,19800130,1980,5.0,130,42.0,CHI,C,810,Paul,Tabor,...,1956-11-30,23.427397,http://www.nfl.com/player/PaulTabor/2526971/pr...,Little Rock,AR,USA,NaN,NaN,NaN,NaN

In [24]:
len(C)

88

In [25]:
OG = eighties[eighties["position"]== "OG"]

In [26]:
OG.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1009,19800011,1980,1.0,11,1250.0,KC,OG,2310,Brad,Budde,...,1958-05-09,21.989041,http://www.nfl.com/player/BradBudde/2510603/pr...,Detroit,MI,USA,NaN,NaN,NaN,NaN
1014,19800016,1980,1.0,16,1000.0,BUF,OG,610,Jim,Ritcher,...,1958-05-21,21.956164,http://www.nfl.com/player/JimRitcher/2502675/p...,Berea,OH,USA,NaN,NaN,NaN,NaN
1020,19800022,1980,1.0,22,780.0,TB,OG,4900,Ray,Snell,...,1958-02-24,22.191781,http://www.nfl.com/player/RaySnell/2526129/pro...,Baltimore,MD,USA,NaN,NaN,NaN,NaN
1059,19800061,1980,3.0,61,292.0,GB,OG,1800,Syd,Kitson,...,1958-09-27,21.602740,http://www.nfl.com/player/SydKitson/2518577/pr...,Orange,NJ,USA,NaN,NaN,NaN,NaN
1066,19800068,1980,3.0,68,250.0,MIN,OG,3000,Brent,Boyd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
len(OG)

206

In [28]:
OT = eighties[eighties["position"]== "OT"]

In [29]:
OT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1001,19800003,1980,1.0,3,2200.0,CIN,OT,920,Anthony,Munoz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,19800012,1980,1.0,12,1200.0,NO,OT,3300,Stan,Brock,...,1958-06-08,21.906849,http://www.nfl.com/player/StanBrock/2499793/pr...,Portland,OR,USA,NaN,NaN,NaN,NaN
1036,19800038,1980,2.0,38,520.0,HO,OT,2100,Angelo,Fields,...,1957-09-15,22.635616,http://www.nfl.com/player/AngeloFields/2513998...,Washington,DC,USA,NaN,NaN,NaN,NaN
1042,19800044,1980,2.0,44,460.0,SEA,OT,4600,Andre,Hines,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,19800050,1980,2.0,50,400.0,LA,OT,2510,Irv,Pankey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
len(OT)

231

In [31]:
len(eighties)

3341

In [32]:
231+206+88

525

In [33]:
525/3341

0.15713858126309488

In [34]:
NT = eighties[eighties["position"]== "NT"]

In [35]:
NT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1050,19800052,1980,2.0,52,380.0,HO,NT,2100,Daryle,Skaugstad,...,1957-04-08,23.073973,http://www.nfl.com/player/DaryleSkaugstad/2525...,Seattle,WA,USA,NaN,NaN,NaN,NaN
1057,19800059,1980,3.0,59,310.0,CIN,NT,920,Rod,Horn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1062,19800064,1980,3.0,64,270.0,NYG,NT,3410,Myron,Lapka,...,1956-05-10,23.986301,http://www.nfl.com/player/MyronLapka/2519085/p...,Van Nuys,CA,USA,NaN,NaN,NaN,NaN
1097,19800099,1980,4.0,99,104.0,CLV,NT,1050,Ron,Crews,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1110,19800112,1980,5.0,112,70.0,SF,NT,4500,Ken,Times,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
len(NT)

78

In [37]:
DT = eighties[eighties["position"]== "DT"]

In [38]:
DT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1071,19800073,1980,3.0,73,225.0,NE,DT,3200,Steve,McMichael,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1080,19800082,1980,3.0,82,180.0,LA,DT,2510,Phil,Murphy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1113,19800115,1980,5.0,115,64.0,KC,DT,2310,Dan,Pensick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,19800149,1980,6.0,149,31.8,NYJ,DT,3430,George,Visger,...,1958-09-26,21.605479,http://www.nfl.com/player/GeorgeVisger/2527984...,Stockton,CA,USA,NaN,NaN,NaN,NaN
1166,19800168,1980,7.0,168,24.2,CIN,DT,920,Gary,Don Johnson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
len(DT)

137

In [40]:
DE = eighties[eighties["position"]== "DE"]

In [41]:
DE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1002,19800004,1980,1.0,4,1800.0,GB,DE,1800,Bruce,Clark,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,19800006,1980,1.0,6,1600.0,SL,DE,2510,Curtis,Greer,...,1957-11-10,22.482192,http://www.nfl.com/player/CurtisGreer/2515332/...,Detroit,MI,USA,NaN,NaN,NaN,NaN
1007,19800009,1980,1.0,9,1350.0,MIN,DE,3000,Doug,Martin,...,1957-05-22,22.953425,http://www.nfl.com/player/DougMartin/2534549/p...,Fairfield,CA,USA,NaN,NaN,NaN,NaN
1008,19800010,1980,1.0,10,1300.0,SEA,DE,4600,Jacob,Green,...,1957-01-21,23.284932,http://www.nfl.com/player/JacobGreen/2500895/p...,Pasadena,TX,USA,NaN,NaN,NaN,NaN
1018,19800020,1980,1.0,20,850.0,SF,DE,4500,Jim,Stuckey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
len(DE)

246

In [43]:
246+137+78

461

In [44]:
461/3341

0.13798263992816523

In [45]:
LB = eighties[eighties["position"]== "LB"]

In [46]:
LB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1017,19800019,1980,1.0,19,875.0,CHI,LB,810,Otis,Wilson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,19800026,1980,1.0,26,700.0,GB,LB,1800,George,Cumby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,19800031,1980,2.0,31,600.0,CIN,LB,920,Kirby,Criswell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,19800036,1980,2.0,36,540.0,ATL,LB,200,Buddy,Curry,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,19800039,1980,2.0,39,510.0,SF,LB,4500,Keena,Turner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
len(LB)

502

In [48]:
len(LB)/len(eighties)

0.15025441484585453

In [49]:
DB = eighties[eighties["position"]== "DB"]

In [50]:
DB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
1006,19800008,1980,1.0,8,1400.0,NYG,DB,3410,Mark,Haynes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,19800014,1980,1.0,14,1100.0,NE,DB,3200,Roland,James,...,1958-02-18,22.208219,http://www.nfl.com/player/RolandJames/2517387/...,Xenia,OH,USA,NaN,NaN,NaN,NaN
1015,19800017,1980,1.0,17,950.0,LA,DB,2510,Johnnie,Johnson,...,1956-10-08,23.572603,http://www.nfl.com/player/JohnnieJohnson/25176...,La Grange,TX,USA,NaN,NaN,NaN,NaN
1019,19800021,1980,1.0,21,800.0,MIA,DB,2700,Don,McNeal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,19800023,1980,1.0,23,760.0,PHI,DB,3700,Roynell,Young,...,1957-12-01,22.424658,http://www.nfl.com/player/RoynellYoung/2529577...,New Orleans,LA,USA,NaN,NaN,NaN,NaN

In [51]:
len(DB)

548

In [52]:
len(DB)/len(eighties)

0.16402274768033523

In [53]:
nineties = draft[(draft['playerId'] <= 19990253) & (draft['playerId'] >= 19900001)]

In [54]:
nineties.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4340,19900001,1990,1.0,1,3000.0,IND,QB,2200,Jeff,George,...,1967-12-08,22.386301,http://www.nfl.com/player/JeffGeorge/2500788/p...,Indianapolis,IN,USA,Warren Central HS,NaN,IN,USA
4341,19900002,1990,1.0,2,2600.0,NYJ,RB,3430,Blair,Thomas,...,1967-10-07,22.556164,http://www.nfl.com/player/BlairThomas/2503293/...,Philadelphia,PA,USA,NaN,NaN,NaN,NaN
4342,19900003,1990,1.0,3,2200.0,SEA,DT,4600,Cortez,Kennedy,...,1968-08-23,21.676712,http://www.nfl.com/player/CortezKennedy/250159...,Osceola,AR,USA,Rivercrest HS,NaN,AR,USA
4343,19900004,1990,1.0,4,1800.0,TB,DE,4900,Keith,McCants,...,1968-04-19,22.021918,http://www.nfl.com/player/KeithMcCants/2501941...,Mobile,AL,USA,NaN,NaN,NaN,NaN
4344,19900005,1990,1.0,5,1700.0,SD,LB,4400,Junior,Seau,...,1969-01-19,21.268493,http://www.nfl.com/player/JuniorSeau/2502886/p...,San Diego,CA,USA,Oceanside HS,Oceanside,CA,USA

In [55]:
QB = nineties[nineties["position"]== "QB"]

In [56]:
QB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4340,19900001,1990,1.0,1,3000.0,IND,QB,2200,Jeff,George,...,1967-12-08,22.386301,http://www.nfl.com/player/JeffGeorge/2500788/p...,Indianapolis,IN,USA,Warren Central HS,NaN,IN,USA
4346,19900007,1990,1.0,7,1500.0,DET,QB,1540,Andre,Ware,...,1968-07-31,21.739726,http://www.nfl.com/player/AndreWare/2503535/pr...,Galveston,TX,USA,NaN,NaN,NaN,NaN
4398,19900059,1990,3.0,59,310.0,NE,QB,3200,Tom,Hodson,...,1967-01-28,23.246575,http://www.nfl.com/player/TomHodson/2501192/pr...,Mathews,LA,USA,NaN,NaN,NaN,NaN
4402,19900063,1990,3.0,63,276.0,CHI,QB,810,Peter Tom,Willis,...,1967-01-04,23.312329,http://www.nfl.com/player/PeterTomWillis/25037...,Morris,AL,USA,NaN,NaN,NaN,NaN
4409,19900070,1990,3.0,70,240.0,PIT,QB,3900,Neil,O'Donnell,...,1966-07-03,23.819178,http://www.nfl.com/player/NeilO'Donnell/250232...,Morristown,NJ,USA,Madison HS,NaN,NJ,USA

In [57]:
len(QB)

125

In [58]:
len(QB)/len(nineties)

0.046572280178837556

In [59]:
RB = nineties[nineties["position"]== "RB"]

In [60]:
RB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4341,19900002,1990,1.0,2,2600.0,NYJ,RB,3430,Blair,Thomas,...,1967-10-07,22.556164,http://www.nfl.com/player/BlairThomas/2503293/...,Philadelphia,PA,USA,NaN,NaN,NaN,NaN
4356,19900017,1990,1.0,17,950.0,DAL,RB,1200,Emmitt,Smith,...,1969-05-15,20.950685,http://www.nfl.com/player/EmmittSmith/2503017/...,Pensacola,FL,USA,Escambia HS,NaN,FL,USA
4358,19900019,1990,1.0,19,875.0,GB,RB,1800,Darrell,Thompson,...,1967-11-23,22.427397,http://www.nfl.com/player/DarrellThompson/2503...,Rochester,MN,USA,NaN,NaN,NaN,NaN
4359,19900020,1990,1.0,20,850.0,ATL,RB,200,Steve,Broussard,...,1967-02-22,23.178082,http://www.nfl.com/player/SteveBroussard/24998...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4363,19900024,1990,1.0,24,740.0,NYG,RB,3410,Rodney,Hampton,...,1969-04-03,21.065753,http://www.nfl.com/player/RodneyHampton/250100...,Houston,TX,USA,NaN,NaN,NaN,NaN

In [61]:
len(RB)

244

In [62]:
len(RB)/len(nineties)

0.09090909090909091

In [63]:
C = nineties[nineties["position"]== "C"]

In [64]:
C.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4362,19900023,1990,1.0,23,760.0,LA,C,2510,Bern,Brostek,...,1966-09-11,23.627397,http://www.nfl.com/player/BernBrostek/2499817/...,Honolulu,HI,USA,NaN,NaN,NaN,NaN
4482,19900143,1990,6.0,143,34.5,SD,C,4400,Frank,Cornish,...,1967-09-24,22.591781,http://www.nfl.com/player/FrankCornish/2512011...,Chicago,IL,USA,NaN,NaN,NaN,NaN
4515,19900176,1990,7.0,176,21.0,CHI,C,810,Bill,Anderson,...,1966-10-08,23.553425,http://www.nfl.com/player/BillAnderson/2508466...,Hennepin County,MN,USA,NaN,NaN,NaN,NaN
4555,19900216,1990,8.0,216,5.0,LA,C,2510,Elbert,Crawford,...,1966-06-20,23.854795,http://www.nfl.com/player/ElbertCrawford/25002...,Chicago,IL,USA,NaN,NaN,NaN,NaN
4558,19900219,1990,8.0,219,3.8,DEN,C,1400,Brad,Leggett,...,1966-01-16,24.279452,http://www.nfl.com/player/BradLeggett/2501726/...,Vicksburg,MS,USA,NaN,NaN,NaN,NaN

In [65]:
len(C)

30

In [66]:
OG = nineties[nineties["position"]== "OG"]

In [67]:
OG.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4378,19900039,1990,2.0,39,510.0,MIA,OG,2700,Keith,Sims,...,1967-06-17,22.863014,http://www.nfl.com/player/KeithSims/2502964/pr...,Baltimore,MD,USA,NaN,NaN,NaN,NaN
4399,19900060,1990,3.0,60,300.0,SD,OG,4400,Leo,Goeas,...,1966-08-15,23.701370,http://www.nfl.com/player/LeoGoeas/2500824/pro...,Honolulu,HI,USA,NaN,NaN,NaN,NaN
4408,19900069,1990,3.0,69,245.0,BUF,OG,610,Glenn,Parker,...,1966-04-22,24.016438,http://www.nfl.com/player/GlennParker/2502402/...,Westminster,CA,USA,NaN,NaN,NaN,NaN
4431,19900092,1990,4.0,92,132.0,SF,OG,4500,Dean,Caliguire,...,1967-03-02,23.156164,http://www.nfl.com/player/DeanCaliguire/249997...,Pittsburgh,PA,USA,NaN,NaN,NaN,NaN
4433,19900094,1990,4.0,94,124.0,IND,OG,2200,William,Schultz,...,1967-05-01,22.991781,http://www.nfl.com/player/WilliamSchultz/25028...,Granada Hills,CA,USA,NaN,NaN,NaN,NaN

In [68]:
len(OG)

190

In [69]:
OT = nineties[nineties["position"]== "OT"]

In [70]:
OT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4348,19900009,1990,1.0,9,1350.0,MIA,OT,2700,Richmond,Webb,...,1967-01-11,23.293151,http://www.nfl.com/player/RichmondWebb/2503579...,Dallas,TX,USA,Franklin D. Roosevelt HS,Dallas,TX,USA
4415,19900076,1990,3.0,76,210.0,WAS,OT,5110,Mohammed,Elewonibi,...,1965-12-16,24.364384,http://www.nfl.com/player/MohammedElewonibi/25...,Lagos,NaN,Nigeria,NaN,NaN,NaN,NaN
4430,19900091,1990,4.0,91,136.0,CIN,OT,920,Mike,Brennan,...,1967-03-22,23.101370,http://www.nfl.com/player/MikeBrennan/2499776/...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4445,19900106,1990,4.0,106,82.0,IND,OT,2200,Rick,Cunningham,...,1967-01-14,23.284932,http://www.nfl.com/player/RickCunningham/25002...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4466,19900127,1990,5.0,127,45.0,KC,OT,2310,Ken,Hackemack,...,1967-09-20,22.602740,http://www.nfl.com/player/KenHackemack/2500951...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
len(OT)

179

In [72]:
len(nineties)

2684

In [73]:
179+190+30

399

In [74]:
399/2684

0.14865871833084948

In [75]:
WR = nineties[nineties["position"]== "WR"]

In [76]:
WR.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4365,19900026,1990,2.0,26,700.0,DAL,WR,1200,Alexander,Wright,...,1967-07-19,22.775342,http://www.nfl.com/player/AlexanderWright/2503...,Albany,GA,USA,NaN,NaN,NaN,NaN
4367,19900028,1990,2.0,28,660.0,NYJ,WR,3430,Reggie,Rembert,...,1966-12-25,23.339726,http://www.nfl.com/player/ReggieRembert/250263...,Okeechobee,FL,USA,NaN,NaN,NaN,NaN
4389,19900050,1990,2.0,50,400.0,PHI,WR,3700,Mike,Bellamy,...,1966-06-28,23.832877,http://www.nfl.com/player/MikeBellamy/2509377/...,New York,NY,USA,NaN,NaN,NaN,NaN
4397,19900058,1990,3.0,58,320.0,ARZ,WR,3800,Ricky,Proehl,...,1968-03-07,22.139726,http://www.nfl.com/player/RickyProehl/2502556/...,Bronx,NY,USA,NaN,NaN,NaN,NaN
4407,19900068,1990,3.0,68,250.0,SF,WR,4500,Ron,Lewis,...,1968-03-25,22.090411,http://www.nfl.com/player/RonLewis/2501752/pro...,Jacksonville,FL,USA,NaN,NaN,NaN,NaN

In [77]:
len(WR)

334

In [78]:
len(WR)/len(nineties)

0.12444113263785395

In [79]:
TE = nineties[nineties["position"]== "TE"]

In [80]:
TE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4360,19900021,1990,1.0,21,800.0,PIT,TE,3900,Eric,Green,...,1967-06-22,22.849315,http://www.nfl.com/player/EricGreen/2500891/pr...,Savannah,GA,USA,NaN,NaN,NaN,NaN
4393,19900054,1990,3.0,54,360.0,MIN,TE,3000,Mike,Jones,...,1966-11-10,23.463014,http://www.nfl.com/player/MikeJones/2501506/pr...,Bridgeport,CT,USA,NaN,NaN,NaN,NaN
4406,19900067,1990,3.0,67,255.0,SD,TE,4400,Walter,Wilson,...,1966-10-06,23.558904,http://www.nfl.com/player/WalterWilson/2503761...,Baltimore,MD,USA,NaN,NaN,NaN,NaN
4426,19900087,1990,4.0,87,155.0,TB,TE,4900,Jesse,Anderson,...,1966-07-26,23.756164,http://www.nfl.com/player/JesseAnderson/249942...,West Point,MS,USA,NaN,NaN,NaN,NaN
4441,19900102,1990,4.0,102,92.0,GB,TE,1800,Jackie,Harris,...,1968-01-04,22.312329,http://www.nfl.com/player/JackieHarris/2501042...,Pine Bluff,AR,USA,NaN,NaN,NaN,NaN

In [81]:
len(TE)

156

In [82]:
len(TE)/len(nineties)

0.05812220566318927

In [83]:
NT = nineties[nineties["position"]== "NT"]

In [84]:
NT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4405,19900066,1990,3.0,66,260.0,MIA,NT,2700,Alfred,Oglesby,...,1967-01-27,23.249315,http://www.nfl.com/player/AlfredOglesby/250234...,Weimar,TX,USA,NaN,NaN,NaN,NaN
4424,19900085,1990,4.0,85,165.0,ARZ,NT,3800,Travis,Davis,...,1966-05-10,23.967123,http://www.nfl.com/player/TravisDavis/2500332/...,Warren,OH,USA,NaN,NaN,NaN,NaN
4451,19900112,1990,5.0,112,70.0,NYJ,NT,3430,Tony,Savage,...,1967-07-07,22.808219,http://www.nfl.com/player/TonySavage/2524953/p...,San Francisco,CA,USA,NaN,NaN,NaN,NaN
4491,19900152,1990,6.0,152,30.6,KC,NT,2310,Tom,Sims,...,1967-04-18,23.027397,http://www.nfl.com/player/TomSims/2502965/profile,Detroit,MI,USA,NaN,NaN,NaN,NaN
4520,19900181,1990,7.0,181,19.0,BUF,NT,610,Fred,DeRiggi,...,1967-01-15,23.282192,http://www.nfl.com/player/FredDeRiggi/2512828/...,Scranton,PA,USA,NaN,NaN,NaN,NaN

In [85]:
len(NT)

13

In [86]:
DT = nineties[nineties["position"]== "DT"]

In [87]:
DT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4342,19900003,1990,1.0,3,2200.0,SEA,DT,4600,Cortez,Kennedy,...,1968-08-23,21.676712,http://www.nfl.com/player/CortezKennedy/250159...,Osceola,AR,USA,Rivercrest HS,NaN,AR,USA
4349,19900010,1990,1.0,10,1300.0,NE,DT,3200,Ray,Agnew,...,1967-12-09,22.383562,http://www.nfl.com/player/RayAgnew/2499366/pro...,Winston-Salem,NC,USA,Carver HS,NaN,NC,USA
4371,19900032,1990,2.0,32,590.0,CHI,DT,810,Fred,Washington,...,1967-07-11,22.797260,http://www.nfl.com/player/FredWashington/25282...,Denison,TX,USA,NaN,NaN,NaN,NaN
4374,19900035,1990,2.0,35,550.0,DET,DT,1540,Dan,Owens,...,1967-03-16,23.117808,http://www.nfl.com/player/DanOwens/2502374/pro...,Whittier,CA,USA,La Habra HS,NaN,CA,USA
4380,19900041,1990,2.0,41,490.0,HO,DT,2100,Jeff,Alm,...,1968-03-31,22.073973,http://www.nfl.com/player/JeffAlm/2499408/profile,New York,NY,USA,NaN,NaN,NaN,NaN

In [88]:
len(DT)

188

In [89]:
DE = nineties[nineties["position"]== "DE"]

In [90]:
DE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4343,19900004,1990,1.0,4,1800.0,TB,DE,4900,Keith,McCants,...,1968-04-19,22.021918,http://www.nfl.com/player/KeithMcCants/2501941...,Mobile,AL,USA,NaN,NaN,NaN,NaN
4350,19900011,1990,1.0,11,1250.0,LAR,DE,2520,Anthony,Smith,...,1967-06-28,22.832877,http://www.nfl.com/player/AnthonySmith/2525877...,Elizabeth City,NC,USA,NaN,NaN,NaN,NaN
4353,19900014,1990,1.0,14,1100.0,NO,DE,3300,Renaldo,Turnbull,...,1966-01-05,24.309589,http://www.nfl.com/player/RenaldoTurnbull/2503...,St. Thomas,VI,USA,NaN,NaN,NaN,NaN
4357,19900018,1990,1.0,18,900.0,GB,DE,1800,Tony,Bennett,...,1967-07-01,22.824658,http://www.nfl.com/player/TonyBennett/2499627/...,Alligator,MS,USA,NaN,NaN,NaN,NaN
4382,19900043,1990,2.0,43,470.0,PIT,DE,3900,Kenny,Davidson,...,1967-08-17,22.695890,http://www.nfl.com/player/KennyDavidson/250030...,Shreveport,LA,USA,NaN,NaN,NaN,NaN

In [91]:
len(DE)

229

In [92]:
229+188+13

430

In [93]:
430/2684

0.1602086438152012

In [94]:
LB = nineties[nineties["position"]== "LB"]

In [95]:
LB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4344,19900005,1990,1.0,5,1700.0,SD,LB,4400,Junior,Seau,...,1969-01-19,21.268493,http://www.nfl.com/player/JuniorSeau/2502886/p...,San Diego,CA,USA,Oceanside HS,Oceanside,CA,USA
4347,19900008,1990,1.0,8,1400.0,NE,LB,3200,Chris,Singleton,...,1967-02-20,23.183562,http://www.nfl.com/player/ChrisSingleton/25029...,Parsippany,NJ,USA,NaN,NaN,NaN,NaN
4351,19900012,1990,1.0,12,1200.0,CIN,LB,920,James,Francis,...,1968-08-04,21.728767,http://www.nfl.com/player/JamesFrancis/2500695...,Houston,TX,USA,La Marque HS,NaN,TX,USA
4352,19900013,1990,1.0,13,1150.0,KC,LB,2310,Percy,Snow,...,1967-11-05,22.476712,http://www.nfl.com/player/PercySnow/2503067/pr...,Canton,OH,USA,NaN,NaN,NaN,NaN
4354,19900015,1990,1.0,15,1050.0,HO,LB,2100,Lamar,Lathon,...,1967-12-23,22.345205,http://www.nfl.com/player/LamarLathon/2501702/...,Wharton,TX,USA,NaN,NaN,NaN,NaN

In [96]:
len(LB)

358

In [97]:
len(LB)/len(nineties)

0.13338301043219075

In [184]:
S = nineties[nineties["position"]== "S"]

In [185]:
S.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4345,19900006,1990,1.0,6,1600.0,CHI,S,810,Mark,Carrier,...,1968-04-28,21.997260,http://www.nfl.com/player/MarkCarrier/2499999/...,Lake Charles,LA,USA,Long Beach Polytechnic HS,NaN,CA,USA
4672,19910002,1991,1.0,2,2600.0,CLV,S,1050,Eric,Turner,...,1968-09-20,22.597260,http://www.nfl.com/player/EricTurner/2503420/p...,Ventura,CA,USA,Ventura HS,NaN,CA,USA
4679,19910009,1991,1.0,9,1350.0,SD,S,4400,Stanley,Richard,...,1967-10-21,23.515068,http://www.nfl.com/player/StanleyRichard/25026...,Mineola,TX,USA,NaN,NaN,NaN,NaN
4696,19910026,1991,1.0,26,700.0,BUF,S,610,Henry,Jones,...,1967-12-29,23.326027,http://www.nfl.com/player/HenryJones/2501490/p...,St. Louis,MO,USA,NaN,NaN,NaN,NaN
4718,19910048,1991,2.0,48,420.0,PHI,S,3700,Jesse,Campbell,...,1969-04-11,22.041096,http://www.nfl.com/player/JesseCampbell/249997...,Washington,DC,USA,NaN,NaN,NaN,NaN

In [186]:
len(S)

89

In [98]:
DB = nineties[nineties["position"]== "DB"]

In [99]:
DB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
4355,19900016,1990,1.0,16,1000.0,BUF,DB,610,James,Williams,...,1967-03-30,23.079452,http://www.nfl.com/player/JamesWilliams/252893...,Osceola,AR,USA,NaN,NaN,NaN,NaN
4361,19900022,1990,1.0,22,780.0,PHI,DB,3700,Ben,Smith,...,1967-05-14,22.956164,http://www.nfl.com/player/BenSmith/2525885/pro...,Warner Robins,GA,USA,NaN,NaN,NaN,NaN
4373,19900034,1990,2.0,34,560.0,SEA,DB,4600,Robert,Blackmon,...,1967-05-12,22.961644,http://www.nfl.com/player/RobertBlackmon/24996...,Bay City,TX,USA,NaN,NaN,NaN,NaN
4383,19900044,1990,2.0,44,460.0,NO,DB,3300,Vince,Buck,...,1968-01-12,22.290411,http://www.nfl.com/player/VinceBuck/2499901/pr...,Owensboro,KY,USA,NaN,NaN,NaN,NaN
4387,19900048,1990,2.0,48,420.0,GB,DB,1800,LeRoy,Butler,...,1968-07-19,21.772603,http://www.nfl.com/player/LeRoyButler/2499948/...,Jacksonville,FL,USA,Robert E. Lee HS,Jacksonville,FL,USA

In [100]:
len(DB)

352

In [187]:
89+352

441

In [188]:
441/len(nineties)

0.1643070044709389

In [102]:
thousand = draft[(draft['playerId'] <= 20090256) & (draft['playerId'] >= 20000001)]

In [103]:
thousand.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7024,20000001,2000,1.0,1,3000.0,CLV,DE,1050,Courtney,Brown,...,1978-02-14,22.180822,http://www.nfl.com/player/CourtneyBrown/250389...,Charleston,SC,USA,Macedonia HS,NaN,SC,USA
7025,20000002,2000,1.0,2,2600.0,WAS,LB,5110,LaVar,Arrington,...,1978-06-20,21.835616,http://www.nfl.com/player/LaVarArrington/25042...,Pittsburgh,PA,USA,North Hills Senior HS,NaN,PA,USA
7026,20000003,2000,1.0,3,2200.0,WAS,OT,5110,Chris,Samuels,...,1977-07-28,22.731507,http://www.nfl.com/player/ChrisSamuels/2504251...,Mobile,AL,USA,John S Shaw HS,NaN,AL,USA
7027,20000004,2000,1.0,4,1800.0,CIN,WR,920,Peter,Warrick,...,1977-06-19,22.838356,http://www.nfl.com/player/PeterWarrick/2504097...,Bradenton,FL,USA,Southeast HS,NaN,FL,USA
7028,20000005,2000,1.0,5,1700.0,BLT,RB,325,Jamal,Lewis,...,1979-08-26,20.652055,http://www.nfl.com/player/JamalLewis/2504298/p...,Atlanta,GA,USA,Douglass HS,NaN,GA,USA

In [104]:
QB = thousand[thousand["position"]== "QB"]

In [105]:
QB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7041,20000018,2000,1.0,18,900.0,NYJ,QB,3430,Chad,Pennington,...,1976-06-26,23.819178,http://www.nfl.com/player/ChadPennington/25041...,Knoxville,TN,USA,NaN,NaN,NaN,NaN
7088,20000065,2000,3.0,65,265.0,SF,QB,4500,Giovanni,Carmazzi,...,1977-04-14,23.019178,http://www.nfl.com/player/GiovanniCarmazzi/250...,Sacramento,CA,USA,NaN,NaN,NaN,NaN
7098,20000075,2000,3.0,75,215.0,BLT,QB,325,Chris,Redman,...,1977-07-07,22.789041,http://www.nfl.com/player/ChrisRedman/2504314/...,Louisville,KY,USA,NaN,NaN,NaN,NaN
7186,20000163,2000,5.0,163,26.2,PIT,QB,3900,Tee,Martin,...,1978-07-25,21.739726,http://www.nfl.com/player/TeeMartin/2504246/pr...,Mobile,AL,USA,NaN,NaN,NaN,NaN
7191,20000168,2000,6.0,168,24.2,NO,QB,3300,Marc,Bulger,...,1977-04-05,23.043836,http://www.nfl.com/player/MarcBulger/2504214/p...,Pittsburgh,PA,USA,Central Catholic HS,Pittsburgh,PA,USA

In [106]:
len(QB)

127

In [107]:
len(QB)/len(thousand)

0.049648162627052385

In [126]:
RB = thousand[thousand["position"]== "RB"]

In [127]:
RB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7028,20000005,2000,1.0,5,1700.0,BLT,RB,325,Jamal,Lewis,...,1979-08-26,20.652055,http://www.nfl.com/player/JamalLewis/2504298/p...,Atlanta,GA,USA,Douglass HS,NaN,GA,USA
7030,20000007,2000,1.0,7,1500.0,ARZ,RB,3800,Thomas,Jones,...,1978-08-19,21.671233,http://www.nfl.com/player/ThomasJones/2504252/...,Big Stone Gap,VA,USA,NaN,NaN,NaN,NaN
7034,20000011,2000,1.0,11,1250.0,NYG,RB,3410,Ron,Dayne,...,1978-03-14,22.104110,http://www.nfl.com/player/RonDayne/2504254/pro...,Berlin,NJ,USA,Overbrook HS,NaN,NJ,USA
7042,20000019,2000,1.0,19,875.0,SEA,RB,4600,Shaun,Alexander,...,1977-08-30,22.641096,http://www.nfl.com/player/ShaunAlexander/25042...,Florence,KY,USA,Boone County HS,NaN,KY,USA
7054,20000031,2000,1.0,31,600.0,SL,RB,2510,Trung,Canidate,...,1977-03-03,23.134247,http://www.nfl.com/player/TrungCanidate/250426...,Phoenix,AZ,USA,NaN,NaN,NaN,NaN

In [128]:
len(RB)

176

In [129]:
len(RB)/len(thousand)

0.0688037529319781

In [133]:
OG = thousand[thousand["position"]== "OG"]

In [134]:
OG.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7060,20000037,2000,2.0,37,530.0,ATL,OG,200,Travis,Claridge,...,1978-03-23,22.079452,http://www.nfl.com/player/TravisClaridge/25038...,Detroit,MI,USA,Fort Vancouver HS,NaN,WA,USA
7069,20000046,2000,2.0,46,440.0,NE,OG,3200,Adrian,Klemm,...,1977-05-21,22.917808,http://www.nfl.com/player/AdrianKlemm/2504201/...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
7074,20000051,2000,2.0,51,390.0,TB,OG,4900,Cosey,Coleman,...,1978-10-27,21.482192,http://www.nfl.com/player/CoseyColeman/2504309...,Clarkston,GA,USA,Southwest DeKalb HS,NaN,GA,USA
7083,20000060,2000,2.0,60,300.0,JAX,OG,2250,Brad,Meester,...,1977-03-23,23.079452,http://www.nfl.com/player/BradMeester/2503900/...,Iowa Falls,IA,USA,Aplington-Parkersburg HS,Parkersburg,IA,USA
7084,20000061,2000,2.0,61,292.0,PHI,OG,3700,Bobbie,Williams,...,1976-09-25,23.569863,http://www.nfl.com/player/BobbieWilliams/25042...,Jefferson,TX,USA,Jefferson HS,Jefferson,TX,USA

In [135]:
len(OG)

161

In [136]:
OT = thousand[thousand["position"]== "OT"]

In [137]:
OT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7026,20000003,2000,1.0,3,2200.0,WAS,OT,5110,Chris,Samuels,...,1977-07-28,22.731507,http://www.nfl.com/player/ChrisSamuels/2504251...,Mobile,AL,USA,John S Shaw HS,NaN,AL,USA
7043,20000020,2000,1.0,20,850.0,DET,OT,1540,Stockar,McDougle,...,1977-01-11,23.273973,http://www.nfl.com/player/StockarMcDougle/2504...,Fort Lauderdale,FL,USA,NaN,NaN,NaN,NaN
7045,20000022,2000,1.0,22,780.0,SEA,OT,4600,Chris,McIntosh,...,1977-02-20,23.164384,http://www.nfl.com/player/ChrisMcIntosh/250432...,Pewaukee,WI,USA,NaN,NaN,NaN,NaN
7061,20000038,2000,2.0,38,520.0,PIT,OT,3900,Marvel,Smith,...,1978-08-06,21.706849,http://www.nfl.com/player/MarvelSmith/2504241/...,Oakland,CA,USA,NaN,NaN,NaN,NaN
7067,20000044,2000,2.0,44,460.0,GB,OT,1800,Chad,Clifton,...,1976-06-26,23.819178,http://www.nfl.com/player/ChadClifton/2504307/...,Martin,TN,USA,Westview HS,NaN,TN,USA

In [138]:
len(OT)

189

In [139]:
OC = thousand[thousand["position"]== "OC"]

In [140]:
OC.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7327,20010050,2001,2.0,50,400.0,DET,OC,1540,Dominic,Raiola,...,1978-12-30,22.323288,http://www.nfl.com/player/DominicRaiola/250469...,Honolulu,HI,USA,St. Louis School,Honolulu,HI,USA
7369,20010092,2001,3.0,92,132.0,BLT,OC,325,Casey,Rabach,...,1977-09-24,23.589041,http://www.nfl.com/player/CaseyRabach/2504699/...,Sturgeon Bay,WI,USA,Sturgeon Bay HS,NaN,WI,USA
7414,20010137,2001,5.0,137,37.5,DAL,OC,1200,Matt,Lehr,...,1979-04-25,22.005479,http://www.nfl.com/player/MattLehr/2504672/pro...,Jacksonville,FL,USA,Woodbridge HS,NaN,VA,USA
7423,20010146,2001,5.0,146,33.0,PIT,OC,3900,Chukky,Okobi,...,1978-10-18,22.523288,http://www.nfl.com/player/ChukkyOkobi/2504535/...,Hamden,CT,USA,NaN,NaN,NaN,NaN
7488,20010211,2001,7.0,211,7.0,CAR,OC,750,Louis,Williams,...,1979-04-11,22.043836,http://www.nfl.com/player/LouisWilliams/250464...,Fort Walton Beach,FL,USA,NaN,NaN,NaN,NaN

In [141]:
len(OC)

65

In [142]:
65+161+189

415

In [143]:
len(thousand)

2558

In [144]:
415/2558

0.16223612197028928

In [145]:
WR = thousand[thousand["position"]== "WR"]

In [146]:
WR.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7027,20000004,2000,1.0,4,1800.0,CIN,WR,920,Peter,Warrick,...,1977-06-19,22.838356,http://www.nfl.com/player/PeterWarrick/2504097...,Bradenton,FL,USA,Southeast HS,NaN,FL,USA
7031,20000008,2000,1.0,8,1400.0,PIT,WR,3900,Plaxico,Burress,...,1977-08-12,22.690411,http://www.nfl.com/player/PlaxicoBurress/25042...,Norfolk,VA,USA,Fork Union Military Academy,NaN,VA,USA
7033,20000010,2000,1.0,10,1300.0,BLT,WR,325,Travis,Taylor,...,1979-03-30,21.060274,http://www.nfl.com/player/TravisTaylor/2504321...,Fernandina Beach,FL,USA,Jean Ribault HS,NaN,FL,USA
7044,20000021,2000,1.0,21,800.0,KC,WR,2310,Sylvester,Morris,...,1977-10-06,22.539726,http://www.nfl.com/player/SylvesterMorris/2504...,New Orleans,LA,USA,McDonogh No. 35 Senior HS,NaN,LA,USA
7052,20000029,2000,1.0,29,640.0,JAX,WR,2250,RJay,Soward,...,1978-01-16,22.260274,http://www.nfl.com/player/RjaySoward/2504219/p...,Pomona,CA,USA,NaN,NaN,NaN,NaN

In [147]:
len(WR)

334

In [148]:
len(WR)/len(thousand)

0.1305707584050039

In [149]:
TE = thousand[thousand["position"]== "TE"]

In [150]:
TE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7037,20000014,2000,1.0,14,1100.0,GB,TE,1800,Bubba,Franks,...,1978-01-06,22.287671,http://www.nfl.com/player/BubbaFranks/2504255/...,Riverside,CA,USA,NaN,NaN,NaN,NaN
7050,20000027,2000,1.0,27,680.0,NYJ,TE,3430,Anthony,Becht,...,1977-08-08,22.701370,http://www.nfl.com/player/AnthonyBecht/2504099...,Drexel Hill,PA,USA,NaN,NaN,NaN,NaN
7091,20000068,2000,3.0,68,250.0,TEN,TE,2100,Erron,Kinney,...,1977-07-28,22.731507,http://www.nfl.com/player/ErronKinney/2504270/...,Ashland,VA,USA,Patrick Henry HS,Ashland,VA,USA
7110,20000087,2000,3.0,87,155.0,CHI,TE,810,Dustin,Lyman,...,1976-08-05,23.709589,http://www.nfl.com/player/DustinLyman/2504106/...,Boulder,CO,USA,Fairview HS,Boulder,CO,USA
7133,20000110,2000,4.0,110,74.0,CLV,TE,1050,Aaron,Shea,...,1976-12-05,23.375342,http://www.nfl.com/player/AaronShea/2504186/pr...,Ottawa,IL,USA,NaN,NaN,NaN,NaN

In [151]:
len(TE)

148

In [152]:
len(TE)/len(thousand)

0.05785770132916341

In [159]:
DT = thousand[thousand["position"]== "DT"]

In [160]:
DT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7029,20000006,2000,1.0,6,1600.0,PHI,DT,3700,Corey,Simon,...,1977-03-02,23.136986,http://www.nfl.com/player/CoreySimon/2504299/p...,Boynton Beach,FL,USA,Blanche Ely HS,NaN,FL,USA
7048,20000025,2000,1.0,25,720.0,MIN,DT,3000,Chris,Hovan,...,1978-05-12,21.942466,http://www.nfl.com/player/ChrisHovan/2504301/p...,Rocky River,OH,USA,NaN,NaN,NaN,NaN
7065,20000042,2000,2.0,42,480.0,NYG,DT,3410,Cornelius,Griffin,...,1976-12-03,23.380822,http://www.nfl.com/player/CorneliusGriffin/250...,Troy,AL,USA,Pike County HS,NaN,AL,USA
7078,20000055,2000,2.0,55,350.0,MIN,DT,3000,Fred,Robbins,...,1977-03-26,23.071233,http://www.nfl.com/player/FredRobbins/2504311/...,Pensacola,FL,USA,J. M. Tate HS,NaN,FL,USA
7094,20000071,2000,3.0,71,235.0,ARZ,DT,3800,Darwin,Walker,...,1977-06-15,22.849315,http://www.nfl.com/player/DarwinWalker/2504101...,Walterboro,SC,USA,Colleton County HS,NaN,SC,USA

In [161]:
len(DT)

219

In [162]:
DE = thousand[thousand["position"]== "DE"]

In [163]:
DE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7024,20000001,2000,1.0,1,3000.0,CLV,DE,1050,Courtney,Brown,...,1978-02-14,22.180822,http://www.nfl.com/player/CourtneyBrown/250389...,Charleston,SC,USA,Macedonia HS,NaN,SC,USA
7035,20000012,2000,1.0,12,1200.0,NYJ,DE,3430,Shaun,Ellis,...,1977-06-24,22.824658,http://www.nfl.com/player/ShaunEllis/2504170/p...,Anderson,SC,USA,Westside HS,NaN,SC,USA
7036,20000013,2000,1.0,13,1150.0,NYJ,DE,3430,John,Abraham,...,1978-05-06,21.958904,http://www.nfl.com/player/JohnAbraham/2504171/...,Timmonsville,SC,USA,Lamar HS,NaN,SC,USA
7049,20000026,2000,1.0,26,700.0,BUF,DE,610,Erik,Flowers,...,1978-03-01,22.139726,http://www.nfl.com/player/ErikFlowers/2504302/...,Oceanside,CA,USA,NaN,NaN,NaN,NaN
7056,20000033,2000,2.0,33,580.0,NO,DE,3300,Darren,Howard,...,1976-11-19,23.419178,http://www.nfl.com/player/DarrenHoward/2504220...,St. Petersburg,FL,USA,NaN,NaN,NaN,NaN

In [164]:
len(DE)

206

In [165]:
206+219

425

In [166]:
425/2558

0.16614542611415167

In [167]:
OLB = thousand[thousand["position"]== "OLB"]

In [168]:
OLB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7112,20000089,2000,3.0,89,145.00,BUF,OLB,610,Corey,Moore,...,1977-03-20,23.087671,http://www.nfl.com/player/CoreyMoore/2504226/p...,Brownsville,TN,USA,NaN,NaN,NaN,NaN
7249,20000226,2000,7.0,226,1.92,NE,OLB,3200,Casey,Tisdale,...,1976-06-18,23.841096,http://www.nfl.com/player/CaseyTisdale/2527463...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
len(OLB)

2

In [172]:
LB = thousand[thousand["position"]== "LB"]

In [173]:
LB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7025,20000002,2000,1.0,2,2600.0,WAS,LB,5110,LaVar,Arrington,...,1978-06-20,21.835616,http://www.nfl.com/player/LaVarArrington/25042...,Pittsburgh,PA,USA,North Hills Senior HS,NaN,PA,USA
7032,20000009,2000,1.0,9,1350.0,CHI,LB,810,Brian,Urlacher,...,1978-05-25,21.906849,http://www.nfl.com/player/BrianUrlacher/250409...,Pasco,WA,USA,Lovington HS,NaN,NM,USA
7039,20000016,2000,1.0,16,1000.0,SF,LB,4500,Julian,Peterson,...,1978-07-28,21.731507,http://www.nfl.com/player/JulianPeterson/25043...,Hillcrest Heights,MD,USA,Crossland HS,NaN,MD,USA
7051,20000028,2000,1.0,28,660.0,IND,LB,2200,Rob,Morris,...,1975-01-18,25.257534,http://www.nfl.com/player/RobMorris/2504303/pr...,Nampa,ID,USA,Nampa HS,NaN,ID,USA
7053,20000030,2000,1.0,30,620.0,TEN,LB,2100,Keith,Bulluck,...,1977-04-04,23.046575,http://www.nfl.com/player/KeithBulluck/2504259...,Suffern,NY,USA,NaN,NaN,NaN,NaN

In [174]:
len(LB)

316

In [175]:
318/2558

0.12431587177482409

In [176]:
S = thousand[thousand["position"]== "S"]

In [177]:
S.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7057,20000034,2000,2.0,34,560.0,CIN,S,920,Mark,Roman,...,1977-03-26,23.071233,http://www.nfl.com/player/MarkRoman/2504323/pr...,New Iberia,LA,USA,NaN,NaN,NaN,NaN
7062,20000039,2000,2.0,39,510.0,CHI,S,810,Mike,Brown,...,1978-02-13,22.183562,http://www.nfl.com/player/MikeBrown/2504304/pr...,Scottsdale,AZ,USA,NaN,NaN,NaN,NaN
7066,20000043,2000,2.0,43,470.0,SD,S,4400,Rogers,Beckett,...,1977-01-31,23.219178,http://www.nfl.com/player/RogersBeckett/250430...,Apopka,FL,USA,NaN,NaN,NaN,NaN
7068,20000045,2000,2.0,45,450.0,DEN,S,1400,Kenoy,Kennedy,...,1977-11-15,22.430137,http://www.nfl.com/player/KenoyKennedy/2504100...,Dallas,TX,USA,NaN,NaN,NaN,NaN
7080,20000057,2000,2.0,57,330.0,CAR,S,750,Deon,Grant,...,1979-03-14,21.104110,http://www.nfl.com/player/DeonGrant/2504182/pr...,Augusta,GA,USA,Josey HS,NaN,GA,USA

In [178]:
len(S)

211

In [179]:
DB = thousand[thousand["position"]== "DB"]

In [180]:
DB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
7038,20000015,2000,1.0,15,1050.0,DEN,DB,1400,Deltha,O'Neal,...,1977-01-30,23.221918,http://www.nfl.com/player/DelthaO'Neal/2504256...,Palo Alto,CA,USA,Milpitas HS,NaN,CA,USA
7046,20000023,2000,1.0,23,760.0,CAR,DB,750,Rashard,Anderson,...,1977-06-14,22.852055,http://www.nfl.com/player/RashardAnderson/2504...,Forest,MS,USA,NaN,NaN,NaN,NaN
7047,20000024,2000,1.0,24,740.0,SF,DB,4500,Ahmed,Plummer,...,1976-03-26,24.071233,http://www.nfl.com/player/AhmedPlummer/2504218...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
7071,20000048,2000,2.0,48,420.0,SF,DB,4500,Jason,Webster,...,1977-09-08,22.616438,http://www.nfl.com/player/JasonWebster/2504264...,Houston,TX,USA,Willowridge HS,Houston,TX,USA
7072,20000049,2000,2.0,49,410.0,DAL,DB,1200,Dwayne,Goodrich,...,1978-05-29,21.895890,http://www.nfl.com/player/DwayneGoodrich/25042...,Chicago,IL,USA,H L Richards HS,NaN,IL,USA

In [181]:
len(DB)

280

In [182]:
280+211

491

In [183]:
491/2558

0.19194683346364347

In [189]:
ten = draft[(draft['playerId'] <= 20190254) & (draft['playerId'] >= 20100001)]

In [190]:
ten.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9582,20100001,2010,1.0,1,3000.0,SL,QB,2510,Sam,Bradford,...,1987-11-08,22.468493,http://www.nfl.com/player/SamBradford/497095/p...,Oklahoma City,OK,USA,Putnam City North HS,Oklahoma City,OK,USA
9583,20100002,2010,1.0,2,2600.0,DET,DT,1540,Ndamukong,Suh,...,1987-01-06,23.306849,http://www.nfl.com/player/NdamukongSuh/496861/...,Portland,OR,USA,U.S. Grant HS,Portland,OR,USA
9584,20100003,2010,1.0,3,2200.0,TB,DT,4900,Gerald,McCoy,...,1988-02-25,22.169863,http://www.nfl.com/player/GeraldMcCoy/496816/p...,Oklahoma City,OK,USA,Southeast HS,Oklahoma City,OK,USA
9585,20100004,2010,1.0,4,1800.0,WAS,OT,5110,Trent,Williams,...,1988-07-19,21.772603,http://www.nfl.com/player/TrentWilliams/497073...,Longview,TX,USA,Longview HS,NaN,TX,USA
9586,20100005,2010,1.0,5,1700.0,KC,S,2310,Eric,Berry,...,1988-12-29,21.326027,http://www.nfl.com/player/EricBerry/496723/pro...,Atlanta,GA,USA,Creekside HS,Fairburn,GA,USA

In [191]:
QB = ten[ten["position"]== "QB"]

In [192]:
QB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9582,20100001,2010,1.0,1,3000.0,SL,QB,2510,Sam,Bradford,...,1987-11-08,22.468493,http://www.nfl.com/player/SamBradford/497095/p...,Oklahoma City,OK,USA,Putnam City North HS,Oklahoma City,OK,USA
9606,20100025,2010,1.0,25,720.0,DEN,QB,1400,Tim,Tebow,...,1987-08-14,22.704110,http://www.nfl.com/player/TimTebow/497135/profile,NaN,NaN,NaN,Trinity Christian Academy,Jacksonville,FL,USA
9629,20100048,2010,2.0,48,420.0,CAR,QB,750,Jimmy,Clausen,...,1987-09-21,22.600000,http://www.nfl.com/player/JimmyClausen/497108/...,Thousand Oaks,CA,USA,Oaks Christian School,Westlake Village,CA,USA
9666,20100085,2010,3.0,85,165.0,CLV,QB,1050,Colt,McCoy,...,1986-09-05,23.643836,http://www.nfl.com/player/ColtMcCoy/497123/pro...,Hobbs,NM,USA,Jim Ned HS,Tuscola,TX,USA
9703,20100122,2010,4.0,122,50.0,PHI,QB,3700,Mike,Kafka,...,1987-07-25,22.758904,http://www.nfl.com/player/MikeKafka/497117/pro...,Chicago,IL,USA,St. Rita HS,Chicago,IL,USA

In [193]:
len(QB)

118

In [194]:
len(QB)/len(ten)

0.046129788897576234

In [195]:
RB = ten[ten["position"]== "RB"]

In [196]:
RB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9590,20100009,2010,1.0,9,1350.0,BUF,RB,610,C.J.,Spiller,...,1987-08-05,22.728767,http://www.nfl.com/player/C.J.Spiller/497204/p...,Lake Butler,FL,USA,Union County HS,Lake Butler,FL,USA
9593,20100012,2010,1.0,12,1200.0,SD,RB,4400,Ryan,Mathews,...,1987-10-10,22.547945,http://www.nfl.com/player/RyanMathews/497188/p...,Riverside,CA,USA,West HS,Bakersfield,CA,USA
9611,20100030,2010,1.0,30,620.0,DET,RB,1540,Jahvid,Best,...,1989-01-30,21.238356,http://www.nfl.com/player/JahvidBest/497147/pr...,Vallejo,CA,USA,Salesian HS,Richmond,CA,USA
9632,20100051,2010,2.0,51,390.0,MIN,RB,3000,Toby,Gerhart,...,1987-03-28,23.084932,http://www.nfl.com/player/TobyGerhart/497176/p...,Norco,CA,USA,Norco HS,NaN,CA,USA
9639,20100058,2010,2.0,58,320.0,HST,RB,2120,Ben,Tate,...,1988-08-21,21.682192,http://www.nfl.com/player/BenTate/497208/profile,Woodbridge,VA,USA,Stephen Decatur HS,Berlin,MD,USA

In [197]:
len(RB)

218

In [198]:
len(RB)/len(ten)

0.08522283033620015

In [199]:
OC = ten[ten["position"]== "OC"]

In [200]:
OC.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9599,20100018,2010,1.0,18,900.00,PIT,OC,3900,Maurkice,Pouncey,...,1989-07-24,20.758904,http://www.nfl.com/player/MaurkicePouncey/4970...,Ardmore,OK,USA,Lakeland HS,NaN,FL,USA
9661,20100080,2010,3.0,80,190.00,DEN,OC,1400,J.D.,Walton,...,1987-03-24,23.095890,http://www.nfl.com/player/J.D.Walton/497064/pr...,Lawton,OK,USA,Allen HS,NaN,TX,USA
9698,20100117,2010,4.0,117,60.00,ATL,OC,200,Joe,Hawley,...,1988-10-22,21.512329,http://www.nfl.com/player/JoeHawley/497012/pro...,Bakersfield,CA,USA,Esperanza HS,Anaheim,CA,USA
9739,20100158,2010,5.0,158,28.20,NO,OC,3300,Matt,Tennant,...,1987-03-19,23.109589,http://www.nfl.com/player/MattTennant/497054/p...,Cincinnati,OH,USA,Archbishop Moeller HS,Cincinnati,OH,USA
9809,20100228,2010,7.0,228,1.84,CIN,OC,920,Reggie,Stephens,...,1987-08-28,22.665753,http://www.nfl.com/player/ReggieStephens/25080...,Rowlett,TX,USA,Jesuit College Prep School,Dallas,TX,USA

In [201]:
len(OC)

27

In [202]:
OT = ten[ten["position"]== "OT"]

In [203]:
OT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9585,20100004,2010,1.0,4,1800.0,WAS,OT,5110,Trent,Williams,...,1988-07-19,21.772603,http://www.nfl.com/player/TrentWilliams/497073...,Longview,TX,USA,Longview HS,NaN,TX,USA
9587,20100006,2010,1.0,6,1600.0,SEA,OT,4600,Russell,Okung,...,1987-10-07,22.556164,http://www.nfl.com/player/RussellOkung/497032/...,Fort Bend,TX,USA,George Bush HS,Richmond,TX,USA
9592,20100011,2010,1.0,11,1250.0,SF,OT,4500,Anthony,Davis,...,1989-10-11,20.542466,http://www.nfl.com/player/AnthonyDavis/2508079...,Piscataway,NJ,USA,Piscataway HS,NaN,NJ,USA
9604,20100023,2010,1.0,23,760.0,GB,OT,1800,Bryan,Bulaga,...,1989-03-21,21.101370,http://www.nfl.com/player/BryanBulaga/496988/p...,Barrington,IL,USA,Marian Central Catholic HS,Woodstock,IL,USA
9614,20100033,2010,2.0,33,580.0,SL,OT,2510,Rodger,Saffold,...,1988-06-06,21.890411,http://www.nfl.com/player/RodgerSaffold/497048...,Bedford,OH,USA,Bedford HS,NaN,OH,USA

In [204]:
len(OT)

191

In [205]:
OG = ten[ten["position"]== "OG"]

In [206]:
OG.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9598,20100017,2010,1.0,17,950.0,SF,OG,4500,Mike,Iupati,...,1987-05-12,22.961644,http://www.nfl.com/player/MikeIupati/497016/pr...,NaN,NaN,NaN,Western HS,Anaheim,CA,USA
9626,20100045,2010,2.0,45,450.0,DEN,OG,1400,Zane,Beadles,...,1986-11-19,23.438356,http://www.nfl.com/player/ZaneBeadles/496980/p...,Casper,WY,USA,Hillcrest HS,Midvale,UT,USA
9649,20100068,2010,3.0,68,250.0,KC,OG,2310,Jon,Asamoah,...,1988-07-21,21.767123,http://www.nfl.com/player/JonAsamoah/496978/pr...,Matteson,IL,USA,Rich East Campus HS,Park Forest,IL,USA
9654,20100073,2010,3.0,73,225.0,MIA,OG,2700,John,Jerry,...,1986-06-14,23.871233,http://www.nfl.com/player/JohnJerry/497018/pro...,Memphis,TN,USA,Hargrave Military Academy,Chatham,VA,USA
9679,20100098,2010,3.0,98,108.0,ATL,OG,200,Mike,Johnson,...,1987-04-02,23.071233,http://www.nfl.com/player/MikeJohnson/2508047/...,Pensacola,FL,USA,Pine Forest HS,Pensacola,FL,USA

In [207]:
len(OG)

139

In [208]:
139+191+27

357

In [209]:
357/len(ten)

0.13956215793588742

In [210]:
WR = ten[ten["position"]== "WR"]

In [211]:
WR.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9603,20100022,2010,1.0,22,780.0,DEN,WR,1400,Demaryius,Thomas,...,1987-12-25,22.339726,http://www.nfl.com/player/DemaryiusThomas/4973...,Montrose,GA,USA,West Laurens HS,NaN,GA,USA
9605,20100024,2010,1.0,24,740.0,DAL,WR,1200,Dez,Bryant,...,1988-11-04,21.476712,http://www.nfl.com/player/DezBryant/497278/pro...,Galveston,TX,USA,Lufkin HS,NaN,TX,USA
9617,20100036,2010,2.0,36,540.0,KC,WR,2310,Dexter,McCluster,...,1988-08-25,21.671233,http://www.nfl.com/player/DexterMcCluster/4971...,Largo,FL,USA,Largo HS,NaN,FL,USA
9620,20100039,2010,2.0,39,510.0,TB,WR,4900,Arrelious,Benn,...,1988-09-08,21.632877,http://www.nfl.com/player/ArreliousBenn/497270...,Washington,DC,USA,Dunbar HS,Washington,DC,USA
9641,20100060,2010,2.0,60,300.0,SEA,WR,4600,Golden,Tate,...,1988-08-02,21.734247,http://www.nfl.com/player/GoldenTate/497326/pr...,Nashville,TN,USA,Pope John Paul II HS,Hendersonville,TN,USA

In [212]:
len(WR)

309

In [213]:
len(WR)/len(ten)

0.12079749804534792

In [214]:
TE = ten[ten["position"]== "TE"]

In [215]:
TE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9602,20100021,2010,1.0,21,800.0,CIN,TE,920,Jermaine,Gresham,...,1988-06-16,21.863014,http://www.nfl.com/player/JermaineGresham/4972...,Ardmore,OK,USA,Ardmore HS,NaN,OK,USA
9623,20100042,2010,2.0,42,480.0,NE,TE,3200,Rob,Gronkowski,...,1989-05-14,20.953425,http://www.nfl.com/player/RobGronkowski/497240...,Amherst,NY,USA,Woodland Hills HS,Pittsburgh,PA,USA
9651,20100070,2010,3.0,70,240.0,BLT,TE,325,Ed,Dickson,...,1987-07-25,22.758904,http://www.nfl.com/player/EdDickson/497224/pro...,Inglewood,CA,USA,Bellflower HS,NaN,CA,USA
9674,20100093,2010,3.0,93,128.0,KC,TE,2310,Tony,Moeaki,...,1987-06-08,22.887671,http://www.nfl.com/player/TonyMoeaki/497256/pr...,Wheaton,IL,USA,Wheaton Warrenville South HS,Wheaton,IL,USA
9676,20100095,2010,3.0,95,120.0,NO,TE,3300,Jimmy,Graham,...,1986-11-24,23.424658,http://www.nfl.com/player/JimmyGraham/497236/p...,Goldsboro,NC,USA,Charis Prep,Goldsboro,NC,USA

In [216]:
len(TE)

142

In [217]:
len(TE)/len(ten)

0.05551211884284597

In [218]:
NT = ten[ten["position"]== "NT"]

In [219]:
NT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
10652,20140048,2014,2.0,48,420.0,BLT,NT,325,Timmy,Jernigan,...,1992-09-24,21.632877,http://www.nfl.com/player/TimmyJernigan/254346...,Lake City,FL,USA,Columbia HS,NaN,FL,USA
10687,20140083,2014,3.0,83,175.0,HST,NT,2120,Louis,Nix,...,1991-07-31,22.786301,http://www.nfl.com/player/LouisNix/2543472/pro...,Jacksonville,FL,USA,William M. Raines HS,NaN,FL,USA
10769,20140165,2014,5.0,165,25.4,SD,NT,4400,Ryan,Carrethers,...,1991-02-26,23.210959,http://www.nfl.com/player/RyanCarrethers/25435...,Nashville,TN,USA,Brentwood Academy,NaN,TN,USA
10872,20150012,2015,1.0,12,1200.0,CLV,NT,1050,Danny,Shelton,...,1993-08-20,21.706849,http://www.nfl.com/player/DannyShelton/2552325...,Sacramento,CA,USA,NaN,NaN,NaN,NaN
11063,20150203,2015,6.0,203,10.2,DEN,NT,1400,Darius,Kilgo,...,1991-12-14,23.391781,http://www.nfl.com/player/DariusKilgo/2552326/...,Washington,DC,USA,NaN,NaN,NaN,NaN

In [220]:
len(NT)

10

In [221]:
DT = ten[ten["position"]== "DT"]

In [222]:
DT.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9583,20100002,2010,1.0,2,2600.0,DET,DT,1540,Ndamukong,Suh,...,1987-01-06,23.306849,http://www.nfl.com/player/NdamukongSuh/496861/...,Portland,OR,USA,U.S. Grant HS,Portland,OR,USA
9584,20100003,2010,1.0,3,2200.0,TB,DT,4900,Gerald,McCoy,...,1988-02-25,22.169863,http://www.nfl.com/player/GeraldMcCoy/496816/p...,Oklahoma City,OK,USA,Southeast HS,Oklahoma City,OK,USA
9591,20100010,2010,1.0,10,1300.0,JAX,DT,2250,Tyson,Alualu,...,1987-05-12,22.961644,http://www.nfl.com/player/TysonAlualu/496760/p...,Honolulu,HI,USA,St. Louis School,Honolulu,HI,USA
9607,20100026,2010,1.0,26,700.0,ARZ,DT,3800,Dan,Williams,...,1987-06-01,22.906849,http://www.nfl.com/player/DanWilliams/2508083/...,Memphis,TN,USA,East HS,Memphis,TN,USA
9616,20100035,2010,2.0,35,550.0,TB,DT,4900,Brian,Price,...,1989-04-10,21.046575,http://www.nfl.com/player/BrianPrice/496845/pr...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN

In [223]:
len(DT)

186

In [224]:
DE = ten[ten["position"]== "DE"]

In [225]:
DE.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9596,20100015,2010,1.0,15,1050.0,NYG,DE,3410,Jason,Pierre-Paul,...,1989-01-01,21.317808,http://www.nfl.com/player/JasonPierre-Paul/496...,Deerfield Beach,FL,USA,Deerfield Beach HS,NaN,FL,USA
9597,20100016,2010,1.0,16,1000.0,TEN,DE,2100,Derrick,Morgan,...,1989-01-06,21.304110,http://www.nfl.com/player/DerrickMorgan/496828...,Lancaster,PA,USA,Coatesville Area HS,NaN,PA,USA
9612,20100031,2010,1.0,31,600.0,IND,DE,2200,Jerry,Hughes,...,1988-08-13,21.704110,http://www.nfl.com/player/JerryHughes/496796/p...,Sugar Land,TX,USA,Stephen F. Austin HS,Sugar Land,TX,USA
9625,20100044,2010,2.0,44,460.0,OAK,DE,2520,Lamarr,Houston,...,1987-06-24,22.843836,http://www.nfl.com/player/LamarrHouston/496794...,San Francisco,CA,USA,Doherty HS,Colorado Springs,CO,USA
9635,20100054,2010,2.0,54,360.0,CIN,DE,920,Carlos,Dunlap,...,1989-02-28,21.158904,http://www.nfl.com/player/CarlosDunlap/496780/...,North Charleston,SC,USA,Fort Dorchester HS,North Charleston,SC,USA

In [226]:
len(DE)

225

In [227]:
225+186+10

421

In [228]:
421/len(ten)

0.16458170445660672

In [229]:
OLB = ten[ten["position"]== "OLB"]

In [230]:
OLB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
10356,20130006,2013,1.0,6,1600.00,CLV,OLB,1050,Barkevious,Mingo,...,1990-10-04,22.572603,http://www.nfl.com/player/BarkeviousMingo/2540...,Belle Glade,FL,USA,West Monroe HS,NaN,LA,USA
10512,20130162,2013,5.0,162,26.60,WAS,OLB,5110,Brandon,Jenkins,...,1990-02-09,23.221918,http://www.nfl.com/player/BrandonJenkins/25392...,Tallahassee,FL,USA,Florida State University School,Tallahassee,FL,USA
10581,20130231,2013,7.0,231,1.72,SEA,OLB,4600,Ty,Powell,...,1988-04-27,25.010959,http://www.nfl.com/player/TyPowell/2540236/pro...,NaN,NaN,NaN,Seaside HS,NaN,CA,USA
10609,20140005,2014,1.0,5,1700.00,OAK,OLB,2520,Khalil,Mack,...,1991-02-22,23.221918,http://www.nfl.com/player/KhalilMack/2543463/p...,Fort Pierce,FL,USA,Fort Pierce Westwood HS,NaN,FL,USA
10613,20140009,2014,1.0,9,1350.00,MIN,OLB,3000,Anthony,Barr,...,1992-03-18,22.153425,http://www.nfl.com/player/AnthonyBarr/2543459/...,South Bend,IN,USA,Loyola HS,Los Angeles,CA,USA

In [231]:
len(OLB)

80

In [232]:
ILB = ten[ten["position"]== "ILB"]

In [233]:
ILB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
10621,20140017,2014,1.0,17,950.0,BLT,ILB,325,C.J.,Mosley,...,1992-06-19,21.898630,http://www.nfl.com/player/C.J.Mosley/2543464/p...,Mobile,AL,USA,Theodore HS,NaN,AL,USA
10677,20140073,2014,3.0,73,225.0,BUF,ILB,610,Preston,Brown,...,1992-10-27,21.542466,http://www.nfl.com/player/PrestonBrown/2543814...,Cincinnati,OH,USA,Northwest HS,Cincinnati,OH,USA
10681,20140077,2014,3.0,77,205.0,SF,ILB,4500,Chris,Borland,...,1991-04-02,23.115068,http://www.nfl.com/player/ChrisBorland/2543772...,Kettering,OH,USA,Archbishop Alter HS,NaN,OH,USA
10730,20140126,2014,4.0,126,46.0,NO,ILB,3300,Khairi,Fortt,...,1992-03-24,22.136986,http://www.nfl.com/player/KhairiFortt/2543568/...,Washington,DC,USA,Stamford HS,NaN,CT,USA
10748,20140144,2014,5.0,144,34.0,JAX,ILB,2250,Telvin,Smith,...,1991-04-11,23.090411,http://www.nfl.com/player/TelvinSmith/2543711/...,Valdosta,GA,USA,Lowndes HS,Valdosta,GA,USA

In [234]:
len(ILB)

40

In [235]:
LB = ten[ten["position"]== "LB"]

In [236]:
LB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9589,20100008,2010,1.0,8,1400.0,OAK,LB,2520,Rolando,McClain,...,1989-07-14,20.786301,http://www.nfl.com/player/RolandoMcClain/49694...,Athens,AL,USA,Decatur HS,NaN,AL,USA
9600,20100019,2010,1.0,19,875.0,ATL,LB,200,Sean,Weatherspoon,...,1987-12-29,22.328767,http://www.nfl.com/player/SeanWeatherspoon/496...,Greenville,SC,USA,Jasper HS,NaN,TX,USA
9621,20100040,2010,2.0,40,500.0,MIA,LB,2700,Koa,Misi,...,1987-01-17,23.276712,http://www.nfl.com/player/KoaMisi/496820/profile,Santa Rosa,CA,USA,Montgomery HS,Santa Rosa,CA,USA
9624,20100043,2010,2.0,43,470.0,BLT,LB,325,Sergio,Kindle,...,1987-09-20,22.602740,http://www.nfl.com/player/SergioKindle/496804/...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
9628,20100047,2010,2.0,47,430.0,ARZ,LB,3800,Daryl,Washington,...,1986-10-09,23.550685,http://www.nfl.com/player/DarylWashington/4969...,Dallas,TX,USA,Irving HS,NaN,TX,USA

In [237]:
len(LB)

224

In [238]:
224+40+80

344

In [239]:
344/len(ten)

0.1344800625488663

In [240]:
S = ten[ten["position"]== "S"]

In [242]:
S.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9586,20100005,2010,1.0,5,1700.0,KC,S,2310,Eric,Berry,...,1988-12-29,21.326027,http://www.nfl.com/player/EricBerry/496723/pro...,Atlanta,GA,USA,Creekside HS,Fairburn,GA,USA
9595,20100014,2010,1.0,14,1100.0,SEA,S,4600,Earl,Thomas,...,1989-05-07,20.972603,http://www.nfl.com/player/EarlThomas/2508080/p...,Orange,TX,USA,West Orange-Stark HS,Orange,TX,USA
9618,20100037,2010,2.0,37,530.0,PHI,S,3700,Nate,Allen,...,1987-11-30,22.408219,http://www.nfl.com/player/NateAllen/2508043/pr...,Fort Myers,FL,USA,Cape Coral HS,NaN,FL,USA
9619,20100038,2010,2.0,38,520.0,CLV,S,1050,T.J.,Ward,...,1986-12-12,23.375342,http://www.nfl.com/player/T.J.Ward/494323/profile,San Francisco,CA,USA,De La Salle HS,Concord,CA,USA
9630,20100049,2010,2.0,49,410.0,SF,S,4500,Taylor,Mays,...,1988-02-07,22.219178,http://www.nfl.com/player/TaylorMays/494283/pr...,Seattle,WA,USA,Bishop O'Dea HS,Seattle,WA,USA

In [243]:
len(S)

124

In [244]:
DB = ten[ten["position"]== "DB"]

In [245]:
DB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9588,20100007,2010,1.0,7,1500.0,CLV,DB,1050,Joe,Haden,...,1989-04-14,21.035616,http://www.nfl.com/player/JoeHaden/496733/profile,Fort Washington,MD,USA,Friendly HS,Fort Washington,MD,USA
9601,20100020,2010,1.0,20,850.0,HST,DB,2120,Kareem,Jackson,...,1988-04-10,22.046575,http://www.nfl.com/player/KareemJackson/496735...,Macon,GA,USA,Fork Union Military Academy,NaN,VA,USA
9608,20100027,2010,1.0,27,680.0,NE,DB,3200,Devin,McCourty,...,1987-08-13,22.706849,http://www.nfl.com/player/DevinMcCourty/494287...,Nyack,NY,USA,St. Joseph Regional HS,Montvale,NJ,USA
9610,20100029,2010,1.0,29,640.0,NYJ,DB,3430,Kyle,Wilson,...,1987-09-08,22.635616,http://www.nfl.com/player/KyleWilson/79527/pro...,Piscataway,NJ,USA,Piscataway HS,NaN,NJ,USA
9613,20100032,2010,1.0,32,590.0,NO,DB,3300,Patrick,Robinson,...,1987-09-07,22.638356,http://www.nfl.com/player/PatrickRobinson/2508...,Miami,FL,USA,South Miami HS,Miami,FL,USA

In [246]:
len(DB)

172

In [249]:
CB = ten[ten["position"]== "CB"]

In [250]:
CB.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
10612,20140008,2014,1.0,8,1400.0,CLV,CB,1050,Justin,Gilbert,...,1991-11-07,22.515068,http://www.nfl.com/player/JustinGilbert/254347...,The Woodlands,TX,USA,Huntsville HS,Huntsville,TX,USA
10618,20140014,2014,1.0,14,1100.0,CHI,CB,810,Kyle,Fuller,...,1992-02-16,22.238356,http://www.nfl.com/player/KyleFuller/2543681/p...,Baltimore,MD,USA,Mount Saint Joseph HS,Baltimore,MD,USA
10628,20140024,2014,1.0,24,740.0,CIN,CB,920,Darqueze,Dennard,...,1991-10-10,22.591781,http://www.nfl.com/player/DarquezeDennard/2543...,Dry Branch,GA,USA,Twiggs County HS,Jeffersonville,GA,USA
10629,20140025,2014,1.0,25,720.0,SD,CB,4400,Jason,Verrett,...,1991-06-18,22.904110,http://www.nfl.com/player/JasonVerrett/2543493...,Fairfield,CA,USA,Rodriguez HS,NaN,CA,USA
10635,20140031,2014,1.0,31,600.0,DEN,CB,1400,Bradley,Roby,...,1992-05-01,22.032877,http://www.nfl.com/player/BradleyRoby/2543505/...,Fort Worth,TX,USA,Peachtree Ridge HS,Suwanee,GA,USA

In [251]:
len(CB)

175

In [252]:
175+172+124

471

In [253]:
471/len(ten)

0.18412822517591867